In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Saint-Leu,-21.1500,55.2833,66.31,64,47,2.04,RE,2022-07-14 00:08:40
1,1,Chokurdakh,70.6333,147.9167,51.53,50,53,10.78,RU,2022-07-14 00:08:41
2,2,Fortuna,40.5982,-124.1573,68.86,72,75,4.00,US,2022-07-14 00:08:41
3,3,Khatanga,71.9667,102.5000,43.77,82,100,9.08,RU,2022-07-14 00:08:41
4,4,Albany,42.6001,-73.9662,79.21,73,78,4.36,US,2022-07-14 00:07:02

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

SyntaxError: invalid syntax (3185543972.py, line 4)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
4,4,Albany,42.6001,-73.9662,79.21,73,78,4.36,US,2022-07-14 00:07:02
13,13,Hasaki,35.7333,140.8333,77.40,85,97,13.24,JP,2022-07-14 00:08:43
17,17,Salalah,17.0151,54.0924,77.09,100,100,6.91,OM,2022-07-14 00:08:44
20,20,Namatanai,-3.6667,152.4333,83.53,73,100,5.88,PG,2022-07-14 00:08:45
22,22,Robat Karim,35.4846,51.0829,82.26,14,0,10.83,IR,2022-07-14 00:08:45
25,25,Isla Mujeres,21.2311,-86.7310,86.16,80,100,11.50,MX,2022-07-14 00:08:46
28,28,Butaritari,3.0707,172.7902,82.56,78,51,15.48,KI,2022-07-14 00:08:47
31,31,Avarua,-21.2078,-159.7750,77.05,61,40,14.97,CK,2022-07-14 00:08:47
32,32,Hilo,19.7297,-155.0900,82.27,97,100,8.05,US,2022-07-14 00:08:48
36,36,Kapaa,22.0752,-159.3190,85.98,68,40,18.41,US,2022-07-14 00:08:48

In [16]:
preferred_cities_df.count()

City_ID       115
City          115
Lat           115
Lng           115
Max Temp      115
Humidity      115
Cloudiness    115
Wind Speed    115
Country       115
Date          115
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
4         Albany      US     79.21  42.6001  -73.9662
13        Hasaki      JP     77.40  35.7333  140.8333
17       Salalah      OM     77.09  17.0151   54.0924
20     Namatanai      PG     83.53  -3.6667  152.4333
22   Robat Karim      IR     82.26  35.4846   51.0829
25  Isla Mujeres      MX     86.16  21.2311  -86.7310
28    Butaritari      KI     82.56   3.0707  172.7902
31        Avarua      CK     77.05 -21.2078 -159.7750
32          Hilo      US     82.27  19.7297 -155.0900
36         Kapaa      US     85.98  22.0752 -159.3190

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [29]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
#   hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Albany,US,79.21,42.6001,-73.9662,
13,Hasaki,JP,77.40,35.7333,140.8333,Inubosaki Kanko Hotel
17,Salalah,OM,77.09,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
20,Namatanai,PG,83.53,-3.6667,152.4333,Seagulls Inn Namatani
22,Robat Karim,IR,82.26,35.4846,51.0829,خانه معلم رباط کریم - مرکز رفاهی خجسته کیا
...,...,...,...,...,...,...
350,San Pedro,PH,86.36,14.3500,121.0167,Palines Apartment and Guesthouse
355,Manokwari,ID,81.75,-0.8667,134.0833,Swiss Belhotel Manokwari
357,Laksar,IN,83.57,29.7667,78.0500,Hotel City Park
358,Gusau,NG,77.63,12.1628,6.6614,GUEST INN
360,Puliyur,IN,82.20,10.6333,78.8333,PROFESSOR KALAIYARASAN HOME

In [31]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [32]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [35]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [36]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))